### Numbers

In [1]:
# addition

3 + 2

5

In [2]:
# subtraction

3 - 2

1

In [3]:
# multiplication

3 * 2

6

In [4]:
# division 

3 / 2

1.5

In [5]:
# exponetiation (not 3^2)

3 ** 2

9

In [6]:
# floor division returns the integral part of the quotient

3 // 2

1

In [7]:
# modulus returns the remainder

12 % 5

2

In [8]:
# abs returns the absolute value

abs(-231)

231

In [9]:
# generate a comlex number( j is used instead of i)

1 + 2j

(1+2j)

In [10]:
# another way to generate a complex number 

complex(1, 3)

(1+3j)

In [11]:
# real returns the real part of a complex number

(2 + 6j).real

2.0

In [12]:
# imag returns the imaginary part of a complex number

(1 + 3j).imag

3.0

In [13]:
# abs returns the modulus when applied to a complex number

abs(3 + 4j)

5.0

In [14]:
# not that a '1' is needed in front of the j

z = 1+2j
w = 3 -1j

In [15]:
# complex addition

z + w

(4+1j)

In [16]:
# complex multiplication

z * w

(5+5j)

### Boleans

In [17]:
# Logical disjunction

True or False

True

In [18]:
# Logical conjunction

True and False

False

In [19]:
# Logical negation

not True

False

In [20]:
# True has the numerical value 1.

True + 41

42

In [21]:
# False has the numerical value 0.

False * 41

0

### Strings

In [22]:
# print outputs text to the screen (discarding the quotes).

print("abc")

abc

In [23]:
# Adding two strings makes a new string by concatenation.

'abc' + 'def'

'abcdef'

In [24]:
# Multiplying a string by an in-teger repeats the string.

'abc' * 3

'abcabcabc'

In [25]:
# Embedding quote marks within a string.

print("I love 'MTH 337' !")

I love 'MTH 337' !

In [26]:
# The "nn" character specifies a newline.

string_1 = 'abc\ndef'
print(string_1)

abc
def

In [27]:
# The "nt" character specifies a tab.

string_2 = 'abc\tdef'

In [28]:
# Indexing the character at index 1 (indices start at 0, not 1).

"abcde"[1]

'b'

In [29]:
# Negative indices count backwards from the end of the string.

'abcde'[-1]

'e'

In [30]:
# Slicing a string from position 1 up to (but not including) position 4.

"abcde"[1:4]

'bcd'

In [31]:
# Select all characters from position 2 to the end of the string.

"abcde"[2:]

'cde'

In [32]:
# Select all characters from the start of the string up to (but not including) position 2.

"abcde"[:2]

'ab'

In [33]:
# Select every second character from the whole string.

"abcde"[::2]

'ace'

In [34]:
# Select every second character from positions 1 up to 5.

"abcdefg"[1:5:2]

'bd'

In [35]:
# Reversing a string by reading it backwards.

"abcde"[::-1]

'edcba'

In [36]:
# upper converts all letters to uppercase.

"mth337".upper()

'MTH337'

In [37]:
# lower converts all letters to lowercase.

"ABCDE".lower()

'abcde'

In [38]:
# capitalize capitalizes the first letter.

"mth337".capitalize()

'Mth337'

In [39]:
# replace replaces all occurrences of one substring with another substring.

"abcabcabc".replace("c", "z")

'abzabzabz'

In [40]:
# split splits a string into a list of words.

"I love MTH337!".split()

['I', 'love', 'MTH337!']

In [41]:
# count counts the number of times an item occurs in a list.

"avada kedavra".count("a")

5

In [42]:
# index finds the index where a substring occurs in a string.

"avada kedavra".index("ked")

6

### Formatting Strings

In [43]:
# "Replacement fields" fg are filled in order by format.
 
"{} {}".format("a", "b")

'a b'

In [44]:
# The arguments to format can also be identified by position, starting at 0.

"1st: {0}, 2nd: {1}".format(3,4)

'1st: 3, 2nd: 4'

In [45]:
# Using a field of width 5 with the default padding.

print("{:5} {}".format("a", 2))

a     2

In [46]:
# Note the left padding in this example.

print("{:>5} {}".format("a", 2))

    a 2

In [47]:
# Now centering 'a' in the field of width 5.

print("{:^5} {}".format("a", 2))

  a   2

In [48]:
# Print pi in a field of width 5 to 2 decimal places

from cmath import pi

print("{:5.2f}".format(pi))

 3.14

In [49]:
# Padding can be combined with other options if the padding is specified first.

print("{:^10.4f}".format(pi))

  3.1416

### Type Conversions

In [50]:
# Convert integer to boolean.

bool(1)

True

In [51]:
# Any nonzero value counts as True.

bool(42)

True

In [52]:
# Zero equates to False.

bool(0)

False

In [53]:
# An empty string is also False.

bool("")

False

In [54]:
# Convert float to integer (the decimal part is discarded).

int(2.99)

2

In [55]:
# Convert string to int.

int("22")

22

In [56]:
# Convert string to float.

float("4.567")

4.567

In [57]:
# Convert string to complex.

complex("1+2j")

(1+2j)

In [58]:
# Convert integer to float.

float(10)

10.0

In [59]:
# convert integer to complex number

complex(10)

(10+0j)

In [60]:
# convert boolean to string

str(True)

'True'

In [61]:
# convert integer 1 to string

str(1)

'1'

In [62]:
# convert float to string

str(1.234)

'1.234'

### Variable Names

In [63]:
# assign x the value 5(note that '=' is used for assignment, not '==').

x = 5
print(x)

5

In [64]:
# assign y the value of x + 3.

y = x + 3
print(y)

8

In [65]:
# course is a string (printed without quotes)

course = 'MTH 337'
print(course)

MTH 337

In [66]:
# multiple variables can be assigned the same time

a, b = 2, 3
print(a, b)

2 3

In [67]:
# the values of a and b are swapped(note that the right hand side is evaluated completely before the assignment is done).

a, b = b, a
print(a, b)

3 2

In [68]:
# same as z = z + 2

z = 3
z += 2
print(z)

5

In [69]:
# same as z = z -1

z -= 1
print(z)

4

In [70]:
# same as z = z * 3

z *= 3
print(z)

12

In [71]:
# same as z = z / 2

z /= 2
print(z)

6.0

In [72]:
# same as z = z % 5

z %= 5
print(z)

1.0

### End