### Tipos de dados em python

Python é uma linguagem de alto nível flexível e poderosa que é adequada para computação científica e matemática. Ele foi projetado com uma sintaxe clara e expressiva com foco em garantir que o código seja legível.

#### Números

Os tipos numéricos básicos usados em Python são:

- Números inteiros.
- Float (reais).
- Números complexos (pares de floats).

O Python converterá automaticamente os números de um tipo para outro quando apropriado. Por exemplo, somar dois inteiros resulta em um inteiro, mas somar um inteiro e um float produz um float. As principais operações aritméticas são +, -, *, / e **. As operações são avaliadas na ordem padrão - Parênteses, Exponenciação, Multiplicação, Divisão, Adição, Subtração. Para evitar possíveis ambigüidades, use parênteses para deixar clara a ordem de avaliação.

In [1]:
# adição

3 + 2

5

In [2]:
# subtração

3 - 2

1

In [3]:
# multiplicação

3 * 2

6

In [4]:
# divisão 

3 / 2

1.5

In [5]:
# exponenciação (não 3^2)

3 ** 2

9

Algumas outras operações úteis são divisão de piso (//), módulo (%) e valor absoluto (abs).

In [6]:
# A divisão por andar retorna a parte integral do quociente.

3 // 2

1

In [7]:
# modulo retorna o restante.

12 % 5

2

In [8]:
# abs retorna o valor absoluto.

abs(-231)

231

Python tem um tipo de número complexo integrado e conhece as regras da aritmética complexa.

In [9]:
# Gere um número complexo (j é usado em vez de i).

1 + 2j

(1+2j)

In [10]:
# Outra maneira de gerar um número complexo.

complex(1, 3)

(1+3j)

In [11]:
# real retorna a parte real de um número complexo.

(2 + 6j).real

2.0

In [12]:
# imag retorna a parte imaginária de um número complexo.

(1 + 3j).imag

3.0

In [13]:
# abs retorna o módulo quando aplicado a um número complexo.

abs(3 + 4j)

5.0

In [14]:
# Observe que um '1' é necessário na frente do j.

z = 1+2j
w = 3 -1j

In [15]:
# Adição complexa.

z + w

(4+1j)

In [16]:
# Multiplicação complexa.

z * w

(5+5j)

#### Booleanos

Python também possui um tipo booleano, que aceita apenas os valores True ou False. Eles também podem ser usados como números, onde True tem o valor 1 e False o valor 0.

In [17]:
# disjunção lógica

True or False

True

In [18]:
# conjunção lógica

True and False

False

In [19]:
# negação lógica

not True

False

In [20]:
# Verdadeiro tem o valor numérico 1.

True + 41

42

In [21]:
# Falso tem o valor numérico 0.

False * 41

0

#### Strings

Strings são sequências de caracteres. Eles são identificados por aspas.

- Para gerar uma string, coloque uma sequência de caracteres entre aspas simples ('') ou duplas (””) (o Python não se importa com qual).
- Um único caractere em Python é apenas uma string de um elemento.
- As strings do Python são imutáveis - uma vez definidas, não podem ser alteradas. eles podem de curso ainda pode ser copiado ou operado para criar novas strings.

In [22]:
# imprimir envia o texto para a tela (descartando as aspas).

print("abc")

abc

In [23]:
# Adicionar duas strings cria uma nova string por concatenação.

'abc' + 'def'

'abcdef'

In [24]:
# Multiplicar uma string por um inteiro repete a string.

'abc' * 3

'abcabcabc'

In [25]:
# O caractere ”\n” especifica uma nova linha.

print("I love 'MTH 337' !")

I love 'MTH 337' !

Um ”\” dentro de uma string é usado para especificar caracteres especiais, como novas linhas e tabulações.

In [26]:
# O caractere ”\n” especifica uma nova linha.

string_1 = 'abc\ndef'
print(string_1)

abc
def

In [27]:
# O caractere ”\t” especifica uma tabulação.

string_2 = 'abc\tdef'

Os elementos strings são acessados usando colchetes, [].

- A indexação obtém caracteres da string usando um único inteiro para identificar a posição do caractere.
- O fatiamento obtém uma substring usando start:stop:step para especificar os caracteres a serem selecionados.
- A indexação e divisão são baseadas em zero - o primeiro caractere está na posição 0.
- Indexar e fatiar é “até, mas não incluindo” a posição de parada.
- Um ”:” pode ser usado para selecionar todos os caracteres antes ou depois de uma determinada posição.

Indexando a string ”abcde”

|a|b|c|d|e|
|---|---|---|---|---|
|0|1|2|3|4|

In [28]:
# Indexando o caractere no índice 1 (os índices começam em 0, não em 1).

"abcde"[1]

'b'

In [29]:
# Indices negativos contam para trás a partir do final da string.

'abcde'[-1]

'e'

In [30]:
# Fatiar uma corda da posição 1 até (mas não incluindo) a posição 4.

"abcde"[1:4]

'bcd'

In [31]:
# Selecione todos os caracteres da posição 2 até o final da string.

"abcde"[2:]

'cde'

In [32]:
# Selecione todos os caracteres desde o início da string até (mas não incluindo) a posição 2.

"abcde"[:2]

'ab'

In [33]:
# Selecione cada segundo caractere de toda a string.

"abcde"[::2]

'ace'

In [34]:
# Selecione cada segundo caractere das posições 1 até 5.

"abcdefg"[1:5:2]

'bd'

In [35]:
# Invertendo uma string lendo-a de trás para frente.

"abcde"[::-1]

'edcba'

Métodos de string são comandos específicos para strings que executam alguma ação na string. Eles são chamados seguindo a string com um '.' seguido do nome do método.

In [36]:
# upper converte todas as letras em maiúsculas.

"mth337".upper()

'MTH337'

In [37]:
# lower converte todas as letras em minúsculas.

"ABCDE".lower()

'abcde'

In [38]:
# capitalize coloca a primeira letra em maiúscula.

"mth337".capitalize()

'Mth337'

In [39]:
# replace substitui todas as ocorrências de uma substring por outra substring.

"abcabcabc".replace("c", "z")

'abzabzabz'

In [40]:
# split divide uma string em uma lista de palavras.

"I love MTH337!".split()

['I', 'love', 'MTH337!']

Os métodos de string também podem ser usados para contar o número de vezes que uma determinada substring ocorre e para descobrir onde ela ocorre.

In [41]:
# count conta o número de vezes que um item ocorre em uma lista.

"avada kedavra".count("a")

5

In [42]:
# index localiza o índice onde uma substring ocorre em uma string.

"avada kedavra".index("ked")

6

#### Formatação de strings

Strings podem ser formatadas usando a função format . Isso permite que “campos de substituição” entre chaves {} em uma string sejam substituídos por alguns outros dados. ”Especificações de formato” nos campos de substituição definem como os dados devem ser formatados, incluindo a largura do campo, preenchimento e número de casas decimais.

- Campos de substituição vazios {} são preenchidos em ordem com os argumentos fornecidos.
- Os números dentro dos campos de substituição especificam os argumentos por posição, começando com zero.

In [43]:
# ”Campos de substituição” {} são preenchidos em ordem por formato.
 
"{} {}".format("a", "b")

'a b'

In [44]:
# Os argumentos para formatar também podem ser identificados por posição, começando em 0.

"1st: {0}, 2nd: {1}".format(3,4)

'1st: 3, 2nd: 4'

As especificações de formato para a largura e preenchimento do campo são fornecidas após dois pontos ':'.

- Uma largura de campo pode ser especificada usando :n onde n é um número inteiro que especifica o número de caracteres no campo.
- Se os dados tiverem menos caracteres que a largura do campo, o padrão é inserir caracteres extras espaços à direita, ou seja, "pad" à direita.
- Para preencher à esquerda, use :>n. Para preencher explicitamente à direita, use :<n. Os > e < são como setas direcionais “enviando” os dados para o lado indicado do campo.
- Os dados podem ser centralizados em um campo de substituição usando :ˆn.

In [45]:
# Usando um campo de largura 5 com o preenchimento padrão.

print("{:5} {}".format("a", 2))

a     2

In [46]:
# Observe o preenchimento esquerdo neste exemplo.

print("{:>5} {}".format("a", 2))

    a 2

In [47]:
# Agora centralizando 'a' no campo de largura 5.

print("{:^5} {}".format("a", 2))

  a   2

As especificações de formato para floats permitem que as tabelas de dados numéricos sejam impressas e alinhadas de forma organizada.

- Inteiros são referidos usando :d.
- Os floats são referidos usando :f.
- Um número inteiro após um ponto decimal é usado para indicar quantas casas decimais mostrar.
- Use :n.mf para indicar um campo de substituição de largura n para um float impresso em m decimal lugares

In [48]:
# Imprimir pi em um campo de largura de 5 a 2 casas decimais

from cmath import pi

print("{:5.2f}".format(pi))

 3.14

In [49]:
# O preenchimento pode ser combinado com outras opções se o preenchimento for especificado primeiro.

print("{:^10.4f}".format(pi))

  3.1416

#### Conversões de Tipo

Os objetos podem ser explicitamente convertidos de um tipo para outro, desde que a conversão faça sentido. Isso é chamado de conversão de tipo.

- Ints podem ser convertidos em floats, e tanto ints quanto floats podem ser convertidos em números complexos.
- Números complexos não podem ser convertidos em ints ou floats.
- Qualquer objeto pode ser convertido em uma string.
- As strings podem ser convertidas em tipos numéricos se a string representar um número válido.

A conversão é feita usando as funções bool, int, float, complex e str.

In [50]:
# Convert integer to boolean.

bool(1)

True

In [51]:
# Any nonzero value counts as True.

bool(42)

True

In [52]:
# Zero equates to False.

bool(0)

False

In [53]:
# An empty string is also False.

bool("")

False

In [54]:
# Convert float to integer (the decimal part is discarded).

int(2.99)

2

In [55]:
# Convert string to int.

int("22")

22

In [56]:
# Convert string to float.

float("4.567")

4.567

In [57]:
# Convert string to complex.

complex("1+2j")

(1+2j)

In [58]:
# Convert integer to float.

float(10)

10.0

In [59]:
# convert integer to complex number

complex(10)

(10+0j)

In [60]:
# convert boolean to string

str(True)

'True'

In [61]:
# convert integer 1 to string

str(1)

'1'

In [62]:
# convert float to string

str(1.234)

'1.234'

### Variable Names

In [63]:
# assign x the value 5(note that '=' is used for assignment, not '==').

x = 5
print(x)

5

In [64]:
# assign y the value of x + 3.

y = x + 3
print(y)

8

In [65]:
# course is a string (printed without quotes)

course = 'MTH 337'
print(course)

MTH 337

In [66]:
# multiple variables can be assigned the same time

a, b = 2, 3
print(a, b)

2 3

In [67]:
# the values of a and b are swapped(note that the right hand side is evaluated completely before the assignment is done).

a, b = b, a
print(a, b)

3 2

In [68]:
# same as z = z + 2

z = 3
z += 2
print(z)

5

In [69]:
# same as z = z -1

z -= 1
print(z)

4

In [70]:
# same as z = z * 3

z *= 3
print(z)

12

In [71]:
# same as z = z / 2

z /= 2
print(z)

6.0

In [72]:
# same as z = z % 5

z %= 5
print(z)

1.0

In [73]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

### End