### Tipos de dados em python

Python é uma linguagem de alto nível flexível e poderosa que é adequada para computação científica e
matemática. Ele foi projetado com uma sintaxe clara e expressiva com foco em garantir que o código seja
legível.

#### Números

Os tipos numéricos básicos usados em Python são:

- Números inteiros.
- Float (reais).
- Números complexos (pares de floats).

O Python converterá automaticamente os números de um tipo para outro quando apropriado.
Por exemplo, somar dois inteiros resulta em um inteiro, mas somar um inteiro e um float produz um float. As
principais operações aritméticas são +, -, *, / e **. As operações são avaliadas na ordem padrão - Parênteses,
Exponenciação, Multiplicação, Divisão, Adição, Subtração. Para evitar possíveis ambigüidades, use
parênteses para deixar clara a ordem de avaliação.

In [ ]:
# adição

3 + 2

In [ ]:
# subtração

3 - 2

In [ ]:
# multiplicação

3 * 2

In [ ]:
# divisão 

3 / 2

In [ ]:
# exponenciação (não 3^2)

3 ** 2

Algumas outras operações úteis são divisão de piso (//), módulo (%) e valor absoluto (abs).

In [ ]:
# A divisão por andar retorna a parte integral do quociente.

3 // 2

In [ ]:
# modulo retorna o restante.

12 % 5

In [ ]:
# abs retorna o valor absoluto.

abs(-231)

Python tem um tipo de número complexo integrado e conhece as regras da aritmética complexa.

In [ ]:
# Gere um número complexo (j é usado em vez de i).

1 + 2j

In [ ]:
# Outra maneira de gerar um número complexo.

complex(1, 3)

In [ ]:
# real retorna a parte real de um número complexo.

(2 + 6j).real

In [ ]:
# imag retorna a parte imaginária de um número complexo.

(1 + 3j).imag

In [ ]:
# abs retorna o módulo quando aplicado a um número complexo.

abs(3 + 4j)

In [ ]:
# Observe que um '1' é necessário na frente do j.

z = 1+2j
w = 3 -1j

In [ ]:
# Adição complexa.

z + w

In [ ]:
# Multiplicação complexa.

z * w

### Boleans

In [ ]:
# Logical disjunction

True or False

In [ ]:
# Logical conjunction

True and False

In [ ]:
# Logical negation

not True

In [ ]:
# True has the numerical value 1.

True + 41

In [ ]:
# False has the numerical value 0.

False * 41

### Strings

In [ ]:
# print outputs text to the screen (discarding the quotes).

print("abc")

In [ ]:
# Adding two strings makes a new string by concatenation.

'abc' + 'def'

In [ ]:
# Multiplying a string by an in-teger repeats the string.

'abc' * 3

In [ ]:
# Embedding quote marks within a string.

print("I love 'MTH 337' !")

In [ ]:
# The "nn" character specifies a newline.

string_1 = 'abc\ndef'
print(string_1)

In [ ]:
# The "nt" character specifies a tab.

string_2 = 'abc\tdef'

In [ ]:
# Indexing the character at index 1 (indices start at 0, not 1).

"abcde"[1]

In [ ]:
# Negative indices count backwards from the end of the string.

'abcde'[-1]

In [ ]:
# Slicing a string from position 1 up to (but not including) position 4.

"abcde"[1:4]

In [ ]:
# Select all characters from position 2 to the end of the string.

"abcde"[2:]

In [ ]:
# Select all characters from the start of the string up to (but not including) position 2.

"abcde"[:2]

In [ ]:
# Select every second character from the whole string.

"abcde"[::2]

In [ ]:
# Select every second character from positions 1 up to 5.

"abcdefg"[1:5:2]

In [ ]:
# Reversing a string by reading it backwards.

"abcde"[::-1]

In [ ]:
# upper converts all letters to uppercase.

"mth337".upper()

In [ ]:
# lower converts all letters to lowercase.

"ABCDE".lower()

In [ ]:
# capitalize capitalizes the first letter.

"mth337".capitalize()

In [ ]:
# replace replaces all occurrences of one substring with another substring.

"abcabcabc".replace("c", "z")

In [ ]:
# split splits a string into a list of words.

"I love MTH337!".split()

In [ ]:
# count counts the number of times an item occurs in a list.

"avada kedavra".count("a")

In [ ]:
# index finds the index where a substring occurs in a string.

"avada kedavra".index("ked")

### Formatting Strings

In [ ]:
# "Replacement fields" fg are filled in order by format.
 
"{} {}".format("a", "b")

In [ ]:
# The arguments to format can also be identified by position, starting at 0.

"1st: {0}, 2nd: {1}".format(3,4)

In [ ]:
# Using a field of width 5 with the default padding.

print("{:5} {}".format("a", 2))

In [ ]:
# Note the left padding in this example.

print("{:>5} {}".format("a", 2))

In [ ]:
# Now centering 'a' in the field of width 5.

print("{:^5} {}".format("a", 2))

In [ ]:
# Print pi in a field of width 5 to 2 decimal places

from cmath import pi

print("{:5.2f}".format(pi))

In [ ]:
# Padding can be combined with other options if the padding is specified first.

print("{:^10.4f}".format(pi))

### Type Conversions

In [ ]:
# Convert integer to boolean.

bool(1)

In [ ]:
# Any nonzero value counts as True.

bool(42)

In [ ]:
# Zero equates to False.

bool(0)

In [ ]:
# An empty string is also False.

bool("")

In [ ]:
# Convert float to integer (the decimal part is discarded).

int(2.99)

In [ ]:
# Convert string to int.

int("22")

In [ ]:
# Convert string to float.

float("4.567")

In [ ]:
# Convert string to complex.

complex("1+2j")

In [ ]:
# Convert integer to float.

float(10)

In [ ]:
# convert integer to complex number

complex(10)

In [ ]:
# convert boolean to string

str(True)

In [ ]:
# convert integer 1 to string

str(1)

In [ ]:
# convert float to string

str(1.234)

### Variable Names

In [ ]:
# assign x the value 5(note that '=' is used for assignment, not '==').

x = 5
print(x)

In [ ]:
# assign y the value of x + 3.

y = x + 3
print(y)

In [ ]:
# course is a string (printed without quotes)

course = 'MTH 337'
print(course)

In [ ]:
# multiple variables can be assigned the same time

a, b = 2, 3
print(a, b)

In [ ]:
# the values of a and b are swapped(note that the right hand side is evaluated completely before the assignment is done).

a, b = b, a
print(a, b)

In [ ]:
# same as z = z + 2

z = 3
z += 2
print(z)

In [ ]:
# same as z = z -1

z -= 1
print(z)

In [ ]:
# same as z = z * 3

z *= 3
print(z)

In [ ]:
# same as z = z / 2

z /= 2
print(z)

In [ ]:
# same as z = z % 5

z %= 5
print(z)

In [ ]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

### End