### Contêineres

Muitas vezes, precisamos de uma maneira de agrupar objetos de um tipo semelhante. Às vezes, a
ordem dos objetos é importante, como em uma sequência matemática {a0, a1, a2, . . .}, e às vezes
a ordem é irrelevante, como no conjunto {'gato', 'cachorro', 'hipogrifo'}.

O Python fornece vários tipos de contêineres que podem ser usados para agrupar objetos.  Os contêineres diferem das seguintes maneiras:

- Mutável versus imutável. Os contêineres mutáveis podem ser modificados após terem sido criados; recipientes imutáveis não podem.
- Ordenado versus não ordenado. Os itens em um contêiner pedido são armazenados em um local fixo seqüência; aqueles em um contêiner não ordenado não são.
- Indexável versus não indexável. Os itens em um contêiner indexado podem ser recuperados usando uma
chave; aqueles em um contêiner não indexável não podem.

#### Listas

Uma lista é uma sequência ordenada de objetos, identificados por colchetes, [].

- Para gerar uma lista, coloque uma sequência de objetos (separados por vírgulas) em quadrado colchetes.
- Os elementos da lista podem ser de qualquer tipo e podem ser de tipos diferentes dentro da mesma lista.
- As listas são mutáveis - uma vez criadas, os elementos podem ser adicionados, substituídos ou excluídos.

In [1]:
# Use square brackets to create a list.

mylist = [1, "a", 6.58]
print(mylist)

[1, 'a', 6.58]

In [2]:
# len returns the number of elements in a list.

len(mylist)

3

In [3]:
# Adding two lists makes a new list by concatenation.

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1 + list2

[1, 2, 3, 4, 5, 6]

In [4]:
# Multiplying a list by an integer repeats the list.

list1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
# list3 is an empty list.

list3 = []
print(list3)

[]

In [6]:
# Another way to create an empty list.

list4 = list()
print(list4)

[]

In [7]:
# Access the element at index 1(indexing starts at 0).

primes = [2, 3, 5, 7, 11, 13, 17]
primes[1]

3

In [8]:
# List slicing, start at position 3,through to the end.

primes[3:]

[7, 11, 13, 17]

In [9]:
# List slicing, start at the beginning, end at position 2.

primes[:3]

[2, 3, 5]

In [10]:
# List slicing, start at position 2, end at position 4.

primes[2:5]

[5, 7, 11]

In [11]:
# One way to reverse a list.

primes[::-1]

[17, 13, 11, 7, 5, 3, 2]

In [12]:
# List elements can be changed by assigning a new element at a given index.

mylist[1] = "e"
print(mylist)

[1, 'e', 6.58]

In [13]:
# append adds an element to the end of a list. 

mylist = ["a", "b"]
mylist.append("c")
print(mylist)

['a', 'b', 'c']

In [14]:
# extend adds elements to a list.

mylist.extend(["d", "e", "f"])
print(mylist)

['a', 'b', 'c', 'd', 'e', 'f']

In [15]:
# insert inserts an element at a given position.

mylist.insert(0, "z")
print(mylist)

['z', 'a', 'b', 'c', 'd', 'e', 'f']

In [16]:
# pop removes the element at a given position and returns it. The default is to remove the last element.

mylist.pop()
print(mylist)

['z', 'a', 'b', 'c', 'd', 'e']

In [17]:
# remove removes the first instance of an item from a list.

mylist.remove("z")
print(mylist)

['a', 'b', 'c', 'd', 'e']

In [18]:
# count counts the number of times an item occurs in a list.

fib = [1, 1, 2, 3, 5, 8, 13]
fib.count(1)

2

In [19]:
# index returns the index of the first occurrence.
 
fib.index(13)

6

In [20]:
# reverse changes an existing list, reversing the order of elements.

letters = ["a", "b", "c"]
letters.reverse()
print(letters)

['c', 'b', 'a']

In [21]:
# sorted returns a sorted list, but does not modify the existing list.

numbers = [2, 10, 3, 26, 5]
print(sorted(numbers))

[2, 3, 5, 10, 26]

In [22]:
# sort sorts a list in place, modifying the existing list.

numbers.sort()
print(numbers)

[2, 3, 5, 10, 26]

In [23]:
# The reverse keyword is used to sort in descending order.

sorted(numbers, reverse=True)

[26, 10, 5, 3, 2]

In [24]:
# find the smallest and largest items.

numbers = [2, 10, 3, 26, 5]
print(min(numbers), max(numbers))

2 26

### Tuples

In [25]:
# Create a tuple using standard parentheses.

tuple1 = ("a", "b", "c")
print(tuple1)

('a', 'b', 'c')

In [26]:
# Tuple elements can be indexed just like lists or strings.

tuple1[2]

'c'

In [27]:
# Slicing works the same way for tuples as for lists or strings.

tuple1[1:]

('b', 'c')

In [28]:
# A comma-separated sequence of values defines a tuple.

tuple2 = 1, 2, 3
print(tuple2)

(1, 2, 3)

In [29]:
# The variables on the left-hand side are assigned to the values on the right.

(x, y) = (10, 20)
print("x =", x)
print("y =", y)

x = 10
y = 20

In [30]:
# The parentheses are not strictly necessary, and can be discarded.

a, b = (2, 4)
print(a, b)

2 4

### Sets

In [31]:
# Sets are created using curly brackets.

myset = {1, 2, 3}
print(myset)

{1, 2, 3}

In [32]:
# Creating a set from a list (note that duplicates are removed).

myset = set([1, 2, 3, 2])
print(myset)

{1, 2, 3}

In [33]:
# set([]) creates an empty set.

print(set())

set()

In [34]:
# Create 2 sets.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [35]:
# in tests for set membership.

1 in set1

True

In [36]:
# Set union (the union operator can also be used).

set1 | set2

{1, 2, 3, 4, 5}

In [37]:
# Set intersection (can also use the intersection operator).

set1 & set2

{3}

In [38]:
# Set diffierence (can also use the diffierence operator).

set1 - set2

{1, 2}

In [39]:
# Symmetric diffierence (can also use the symmetric diffierence operator).

set1 ^ set2

{1, 2, 4, 5}

In [40]:
# Test if one set is a subset of another (can also use the issubset operator).

set1 <= set2

False

### Dictionaries

In [41]:
# Note the colon in the key:value pairs.

mydict1 = {"x":1, "y":2, "z":3}
print(mydict1)

{'x': 1, 'y': 2, 'z': 3}

In [42]:
# Dictionary values are accessed using the keys

mydict1["y"]

2

In [43]:
# Dictionary values can be changed using the "=" assignment operator.

mydict1["y"] = 10
print(mydict1)

{'x': 1, 'y': 10, 'z': 3}

In [44]:
# New key:value pairs can be assigned using the "=" assignment operator.

mydict1["w"] = 0
print(mydict1)

{'x': 1, 'y': 10, 'z': 3, 'w': 0}

In [45]:
# get returns None if the key does not exist.

mydict1.get("a")

In [46]:
# get can also return a default value.

mydict1.get("a", 42)

42

In [47]:
# Creating an empty dictionary.

dict2 = {}
print(dict2)

{}

In [48]:
# Another way to create an empty dictionary.

dict3 = dict()
print(dict3)

{}

In [49]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

sys: 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

### End